
* {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.toptitel {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.downloadlink {
  color: aquamarine;
  font-size: 16px;
}

.travelguide {
  color: white;
  font-weight: 300;
  font-size: 42px;
}

.remembers {
  font-size: 21px;
  color: gray;
}

.comingsoon {
  color: white;
  font-weight: 300;
  font-size: 42px;
}

.copyright {
  text-align: right;
  color: grey;
}
